@import url("https://fonts.googleapis.com/css2?family=Mina&display=swap");

$primary-color: #0085fa;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mina", sans-serif;
}

body {
    background-color: $primary-color;
    background-image: url("../assets/asfalt-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    height: 100vh;
}

#wrapper {
    position: relative;
    top: 150px;
    text-align: center;

    h4 {
        color: white;
        font-weight: 400;
        margin-top: 12px;
    }
}

#quote-box {
    padding: 35px;
    padding-top: 40px;
    max-width: 45%;
    min-width: 300px;
    height: auto;
    margin: 0 auto;
    background-color: #fafafa;
    border-radius: 12px;
    box-shadow: 2px 8px 21px 5px rgba(0, 0, 0, 0.36);
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

#quote {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

#author {
    margin: 2rem 0 0 0;
    font-weight: 400;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0 0 0;
}

#tweet-quote {
    background-color: $primary-color;
    padding: 5px;
    padding-bottom: 0;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    i {
        font-size: 30px;
        color: rgb(255, 255, 255);
    }
}

#new-quote {
    border-radius: 5px;
    height: 39.5px;
    width: 100px;
    border: none;
    box-shadow: 1px 1px 8px -2px rgba(0, 0, 0, 0.5);
    background-color: $primary-color;
    color: white;
}

#new-quote:hover {
    cursor: pointer;
}
